<div class="jumbotron">
    <div class="izq">
<!-- Composite Start -->
<div id="M177130ScriptRootC141658">
        <div id="M177130PreloadC141658">
        Loading...
    </div>
        <script>
                (function(){
            var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
            var i=d[ce]('iframe');i[st][ds]=n;d[gi]("M177130ScriptRootC141658")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
            catch(e){var iw=d;var c=d[gi]("M177130ScriptRootC141658");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=141658;c[ac](dv);
            var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.mgid.com/v/e/verplusonline.com.141658.js?t="+D.getYear()+D.getMonth()+D.getDate()+D.getHours();c[ac](s);})();
    </script>
</div>
<!-- Composite End -->
        
    </div>
    <div class="dcha">
        Apúntate a nuestro grupo de <a href="" target="_blank">facebook</a><br>
        o<br>
        síguenos en <a href="" target="_blank">twitter</a>
    </div>
</div>

<div class="alert alert-success" role="alert">
      <center><strong>COLABORACIÓN EN ELITEGOL.ONLINE</strong><br><br>Si quieres colaborar y añadir tu sitio web a nuestra agenda, Solo tienes que <a href="./registro">registrarte</a> y leer las normas antenamente.</center> 
</div>
<script type='text/javascript' src='//clickadu.com/apu.php?zoneid=769798'></script>

</a>










