<div class="row">
    <div class="col-lg-12">
        {% if flash.message %}
            <div class="alert alert-danger alert-dismissable" style="margin-top: 25px">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                {{ flash.message }}
            </div>
        {% endif %}

        {% if flash.success %}
            <div class="alert alert-success alert-dismissable" style="margin-top: 25px">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                {{ flash.success }}
            </div>
        {% endif %}
    </div>
</div>