<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" style="height: 60px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logo">
                <a href="{{ baseUrl }}">
                    <img src="{{ baseUrl }}images/logo.png">
                </a>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if auth|user %}
                <ul class="cab-usuario pull-right">
                    <li>
                        <img src="{{ baseUrl }}images/0.jpg" style="vertical-align:middle;">
                        <a class="nombre-usuario" href="#">{{ auth|user.email }}</a>
                        <a href="{{ urlFor('panel') }}">Panel</a>
                        <a href="{{ urlFor('logout') }}">Salir</a>
                    </li>
                </ul>
            {% else %}
                <ul class="cab-usuario pull-right">
                    <li>
                        <a href="{{ urlFor('login') }}">Iniciar Sesion</a>
                        <a href="{{ urlFor('register') }}">Registro</a>
                    </li>
                </ul>
            {% endif %}
            <!--
            <form class="buscador-top" role="search">
                <div class="form-group">
                    <input type="text" class="form-control">
                    <input type="submit" value="Buscar">
                </div>
            </form>
            -->
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>