{% extends 'admin.twig' %}
{% set active = 'sports' %}

{% block body %}

    {{ include('admin/topbar.twig') }}

    <div class="container-fluid">

        {{ include('zone/messages.twig') }}

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ title }}</h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="{{ urlFor('admin') }}">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i> {{ title }}
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">

                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Competición</th>
                            <th>Slug</th>
                            <th>Status</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for competition in competitions %}
                            <tr>
                                <td>{{ competition.id }}</td>
                                <td>{{ competition.name }}</td>
                                <td>{{ competition.slug }}</td>
                                <td>{{ competition.status }}</td>
                                <td>
                                    <a href="{{ urlFor('admin_competition_edit', {"id": competition.id}) }}"
                                       title="Editar">
                                        <span class="glyphicon glyphicon glyphicon-pencil"></span></a>

                                    <a href="{{ urlFor('admin_competition_edit', {"id": competition.id}) }}"
                                       target="_blank" title="Eliminar">
                                        <span class="glyphicon glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

{% endblock %}