{% extends 'admin.twig' %}
{% set active = 'index' %}

{% block body %}
    {{ include('admin/topbar.twig') }}

    <div class="jumbotron" style="margin-top: -20px;">
      <div class="container">
        <h2>Bienvenid@ a TELEFIVEGB.COM</h2>
        <p>¡Hola!, Si estás aquí dentro es por que tienes acceso al panel de administración del sitio web <b>www.TELEFIVEGB.COM</b> nuestra finalidad es trabajar con duro esfuerzo y sacrificio, por ello si entrastes para realizar alguna tarea que pueda afectar al funcionamento del sitio web, te invito a que abandones este apartado.</p>
   	  </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Importar Eventos</h2>
          <p>Los eventos seran importados cada tres días el dia correspondiente, es decir si estamos a 28 mayo 1994, usted importara los eventos de 30 mayo 1994.</p>
          <p><a class="btn btn-primary" href="../admin/import/la_cronica_virtual" role="button">Importar Eventos</a></p>
          <p><a class="btn btn-primary" href="../admin/import/rojadirecta" role="button">Importar Eventos from rojadirecta</a></p>
        </div>
        <div class="col-md-4">
          <h2>Añadir Eventos</h2>
          <p>Esta función se realiza manualmente, usted desde el apartado "Añadir Evento" debera introducir el "Titulo del evento" (minusculas alternando las primera palabra en mayuscula), seguidamente el slug (Todo en minuscula y realizando espacios con guiones), Selecionar competición (ejemplo: Liga SANTANDER), Descripción es indiferente, Fecha inicio / fecha final del evento y por ultimo "status" siempre Activado.</p>
          <p><a class="btn btn-danger" href="../admin/event" role="button">Añadir Evento</a></p>
       </div>
        <div class="col-md-4">
          <h2>Añadir Canal</h2>
          <p>Si deseas añadir un canal a un determinado usuario, para que pueda comenzar a colaborar con TELEFIVEGB, desde el apartado "Añadir Canal" debera rellenar los campos, El titulo del canal (Titulo definido con el numero de canal asignado), URL (Dirección donde se visualiza directamente la señal), Quality (Actualemtne TELEFIVE no solicita a los usuarios este apartado), Usuario (Asigna el canal al usuario correspondiente, posteriormente ya registrado), Idioma del canal, Sofware tipo flash y Status siempre Activado (Si incumpliera alguna norma se desactiva).</p>
          <p><a class="btn btn-info" href="../admin/channel" role="button">Añadir Canal</a></p>
        </div>
      </div>

      {{ include('admin/bottombar.twig') }}

{% endblock %}