{% extends 'master.twig' %}
{% set active = 'guide' %}

{% block body %}

    <div class="row">

        {% include 'panel/sidebar.twig' %}

        <div class="col-xs-12 col-md-8">

            {{ include('zone/messages.twig') }}

            <table class="table">
                <caption><b>Seleccione un canal:</b></caption>
                <thead>
                <tr>
                    <th style="width: 35px;">nº</th>
                    <th>Nombre</th>
                    <th style="width: 120px;">Programar canal</th>
                </tr>
                </thead>
                <tbody>
                {% for channel in channels %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ channel.title }}</td>
                        <td><a href="{{ urlFor('panel_channel', {"id": channel.id}) }}">
                                <button type="button" class="btn btn-success btn-xs pull-right">Programar</button>
                            </a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <hr>

            <table class="table">
                <caption><b>Lista de Eventos con sus canales:</b></caption>
                <thead>
                <tr>
                    <th style="width: 50px;">Hora</th>
                    <th style="width: 150px;">Competición</th>
                    <th>Evento</th>
                    <th>Idioma</th>
                    <th style="width: 120px;">
                        <center>Canal añadido</center>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% set event_id = 0 %}
                {% for event in events %}
                    {% if event.id == event_id %}
                        <tr>
                            <th></th>
                            <td></td>
                            <td></td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xs pull-right">{{ event.channel_title }}
                                    (<span
                                            class="glyphicon glyphicon-trash" aria-hidden="true"></span> Eliminar)
                                </button>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <th>{{ event.published_at }}</th>
                            <td>{{ event.competitions_name }}</td>
                            <td>{{ event.title }}</td>
                            <td>
                                <select class="change_language_channel select2" data-link="{{ event.link_id }}">
                                    {% for key, language in languages %}
                                        <option value="{{ key }}"{% if key == event.link_language %} selected {% endif %}>{{ language }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <a href="{{ urlFor('panel_remove_link', {"id": event.link_id}) }}"
                                   title="Eliminar" class="delete btn btn-danger btn-xs"
                                   data-confirm="¿Estás seguro de eliminar este canal del evento?">
                                    {{ event.channel_title }} (<span class="glyphicon glyphicon glyphicon-trash"></span>
                                    Eliminar)</a>
                            </td>
                        </tr>
                        {% set event_id = event.id %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
{% endblock %}