{% extends 'master.twig' %}
{% set active = 'index' %}

{% block body %}

    <div class="row">

        {% include 'panel/sidebar.twig' %}

        <div class="col-xs-12 col-md-8">
            <div class="alert alert-danger" role="alert">
                <b><u>BIENVENIDO/A AL NUEVO ELITEGOL</u></b>
                <br><br>Para añadir su/s canal/es en nuestras listas de eventos, es necesario verificarlo, envienoslo al siguiente correo <b>iptvtooles@gmail.com</b> / skype: <b>NO DISPONIBLE</b>
            </div>
            <br>

            <div class="alert alert-warning" role="alert">
                Lee las <a data-toggle="modal" data-target="#myModal" href="#" style="text-decoration:underline;">normas</a> para colaborar en la web y enviar tus canales.
            </div>
            <hr>
            <div class="well well-sm">
                <b>Panel de usuario:</b> A la izquierda te aparecerán las opciones disponibles para tu cuenta.
            </div>
        </div>
    </div>

{% endblock %}