<div class="panel panel-default">
    <table class="table table-bordered table-eventos table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th width="5%">
                <center>Idioma</center>
            </th>
            <th width="10%">
                <center>Software</center>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for channel in channels %}
            <tr>
                <td><a href="{{ channel.url }}" target="_blank">{{ channel.title }}</a></td>
                <td align="center"><img class="img-flag" src="{{ urlBase }}images/flag/{{ channel.language }}.png"></td>
                <td align="center">{{ channel.software|capitalize }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>