<ul class="eventos table-list-events">
    <li class="">
        <div class="litd fecha">
            {{ event.published_at|get_date_from_utc|localizeddate('none', 'none', 'es_ES', null, "cccc d - HH:mm") }}
        </div>
        <div class="litd deporte" ><img src="{{ baseUrl }}images/deportes/{{ event.sport_id }}.png" border="0" title = "VER  {{ event.title }} ONLINE" ></div>
        <div class="litd competicion"><FONT COLOR="red">ELITEGOL - </FONT>{{ event.competition_name }} </div "title = "VER  {{ event.title }} EN VIVO" >
        <div class="litd nombre"> 
              <a href="{{ urlFor('event', {"id": event.id, "slug": event.slug}) }}" title = "VER {{ event.title }} EN VIVO, VER {{ event.title }} GRAITS ,You can watch {{ event.title }} stream here, at www.ELITEGOL.ONLINE we make it possible for you to watch live stream sports {{ event.title }} Broadcasts from all over the world completely free including {{ event.title }}. What time is {{ event.title }} game or event. Dont forgot to share with your friends the {{ event.title }} link. Remember that you can watch {{ event.title }} free in www.ELITEGOL.ONLINE. {{ event.title }} is a event or game. Remember we Are Embedding Live Streams from atdhenet, myp2p, ilemi, ELITEGOL.ONLINE Livescorehunter, Firstrowsports, streamhunter, firstrownow.eu, atdhe, wiziwig and Many More! And you can watch completely free {{ event.title }}. Watch {{ event.title }}. {{ event.title }} Livestream, {{ event.title }} Online, {{ event.title }} Live Stream , ver en vivo {{ event.title }} online , ver gratis {{ event.title }} , ver por internet {{ event.title }}">{{ event.title }}</a>
        </div>
        <div class="litd opciones">
            {% if isLive(event.published_at, event.finished_at) %}
                <span class="enjuego">En directo</span>
            {% else %}
                {% if before10minutes(event.published_at, event.finished_at) %}
                    <span class="vaacomenzar">Va a comenzar</span>
                {% endif %}
            {% endif %}
            <span class="spinner-evento-cargando" id="evento-cargando-{{ event.id }}"
                  style="display:none">Cargando...</span>
            <a id="enlace-evento-{{ event.id }}" href="javascript:abrir_evento({{ event.id }});">Ver enlaces</a>
        </div>
    </li>
    <ul class="capa-enlaces-evento table-list-events" id="evento-{{ event.id }}" style="display:none;">
        <div class="panel panel-default">
            <table class="table table-bordered table-eventos table-hover">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th width="5%">
                        <center>Idioma</center>
                    </th>
                    <th width="10%">
                        <center>Software</center>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Canal Ejemplo</td>
                    <td align="center"><img class="img-flag" src="images/flag/Spain.png"></td>
                    <td align="center">Flash</td>
                </tr>
                </tbody>
            </table>
        </div>
    </ul>
</ul>
