<ul class="eventos table-list-events">
    <li class="">
        <div class="litd fecha">
            {{ event.published_at|get_date_from_utc|localizeddate('none', 'none', 'es_ES', null, "cccc d - HH:mm") }}h
        </div>
        <div class="litd deporte"><img src="{{ baseUrl }}images/deportes/{{ event.sport_id }}.png" border="0"></div>
        <div class="litd competicion">{{ event.competition_name }}</div>
        <div class="litd nombre">
            <a href="{{ urlFor('event', {"id": event.id, "slug": event.slug}) }}">{{ event.title }}</a>
        </div>
        <div class="litd opciones">
            {% if isLive(event.published_at, event.finished_at) %}
                <span class="enjuego">En directo</span>
            {% else %}
                {% if before10minutes(event.published_at, event.finished_at) %}
                    <span class="vaacomenzar">Va a comenzar</span>
                {% endif %}
            {% endif %}
            <span class="spinner-evento-cargando" id="evento-cargando-{{ event.id }}"
                  style="display:none">Cargando...</span>
            <a id="enlace-evento-{{ event.id }}" href="javascript:abrir_evento({{ event.id }});">Ver enlaces</a>
        </div>
    </li>
    <ul class="capa-enlaces-evento table-list-events" id="evento-{{ event.id }}" style="display:none;">
        <div class="panel panel-default">
            <table class="table table-bordered table-eventos table-hover">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th width="5%">
                        <center>Idioma</center>
                    </th>
                    <th width="10%">
                        <center>Software</center>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Canal Ejemplo</td>
                    <td align="center"><img class="img-flag" src="images/flag/Spain.png"></td>
                    <td align="center">Flash</td>
                </tr>
                </tbody>
            </table>
        </div>
    </ul>
</ul>