<div class="jumbotron">
    <div class="izq">
<script type="text/javascript">
	atOptions = {
		'key' : '9cc50924e7eec51a08ad75aed602a86c',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bnserving.com/invoke.js"></scr' + 'ipt>');
</script>
        
    </div>
    <div class="dcha">
        Apúntate a nuestro grupo de <a href="" target="_blank">facebook</a><br>
        o<br>
        síguenos en <a href="" target="_blank">twitter</a>
    </div>
</div>

<div class="alert alert-success" role="alert">
      <center><strong><H1>ELITEGOL.ONLINE</H1></strong><br>Si quieres colaborar y añadir tu sitio web a nuestra agenda, Solo tienes que <a href="./registro">registrarte</a> y leer las normas antenamente.</center> 
</div>


<style type="text/css">.pie-red-grupoet {margin-top:15px;background-color:#333;color:#ccc;padding:10px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;line-height:normal;}.pie-red-grupoet ul { list-style:none; margin:0px; padding:0px; }.pie-red-grupoet a { color: #CCC; }.pie-red-grupoet a:hover { color: #fff; text-decoration:underline; }.pie-red-grupoet .pie-logo { text-align:center; }.pie-red-grupoet .pie-logo img { border:0px; }.pie-red-grupoet .pie-enlaces {overflow:hidden;margin-top:10px;}.pie-red-grupoet .pie-enlaces .pie-bloque {float:left;width:33%;text-align:center;}.pie-red-grupoet .pie-enlaces .pie-bloque li { display:block; padding: 4px 0px; font-size: 11px; }.pie-red-grupoet .pie-enlaces .pie-bloque li.pie-info { margin: 2px 0px; color: #999; font-style:italic; }.pie-red-grupoet .pie-enlaces .pie-bloque li.pie-titulo { font-size:11px; font-weight:bold; color:#999; padding: 2px 8px; background-color:#444;display:inline-block;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}</style>




</a>










