<!-- Static navbar -->
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">Project name</a>-->
            <a class="navbar-brand" rel="home" href="{{ urlFor('admin') }}" title="EliteGol">
                <img style="max-width:200px; margin-top: -15px;" src="{{ assetUrl }}images/logo.png">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{% if active == 'index' %} active {% endif %}">
                    <a href="{{ urlFor('admin') }}">Home</a></li>
                <li class="dropdown {% if active == 'events' %} active {% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Eventos
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ urlFor('admin_events') }}">Eventos</a></li>
                        <li><a href="{{ urlFor('admin_event') }}">Añadir Evento</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Importar</li>
                        <li><a href="{{ urlFor('import_la_cronica_virtual') }}">La Cronica Virtual</a></li>
                    </ul>
                </li>
                <li class="dropdown {% if active == 'sports' %} active {% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Deportes
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ urlFor('admin_sports') }}">Categorias</a></li>
                        <li><a href="{{ urlFor('admin_sport') }}">Añadir Categoria</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ urlFor('admin_competition') }}">Añadir Competición</a></li>
                    </ul>
                </li>
                <li class="dropdown {% if active == 'channels' %} active {% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Canales
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ urlFor('admin_channels') }}">Canales</a></li>
                        <li><a href="{{ urlFor('admin_channel') }}">Añadir Canal</a></li>
                    </ul>
                </li>
                <li class="{% if active == 'users' %} active {% endif %}">
                    <a href="{{ urlFor('admin_users') }}">Usuarios</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{ auth|user.email }}</a></li>
                <li><a href="{{ urlFor('logout') }}">Salir</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>