{% extends 'admin.twig' %}
{% set active = 'events' %}

{% block body %}

    {{ include('admin/topbar.twig') }}

    <div class="container">

        {{ include('zone/messages.twig') }}

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ title }}</h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="{{ urlFor('admin') }}">Página Principal</a>
                    </li>
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="{{ urlFor('admin_events') }}">Eventos</a>
                    </li>
                    <li>
                        <i class="fa fa-dashboard"></i>
                        <a href="{{ urlFor('import_rojadirecta') }}">rojadirecta</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i> {{ subtitle }}
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <a href="#" class="btn btn-default" onclick="document.getElementById('collection_selection').submit()">Importar Eventos</a><br/><br/>
                </div>
            </div>

            <div class="col-lg-12">
                <form accept-charset='UTF-8' action='' id='collection_selection' method='post'>
                    <div class="table-responsive">
                        <table id="import_events" class="table table-striped table-bordered" cellspacing="0">
                            <thead>
                            <tr>
                                <th>
                                    <input class="toggle_all" id="collection_selection_toggle_all" name="collection_selection_toggle_all" type="checkbox">
                                </th>
                                <th>Id</th>
                                <th>Evento</th>
                                <th>Competición</th>
                                <th>Fecha y Hora</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for event in import_events %}
                                <tr>
                                    <td>
                                        <input class="collection_selection" id="batch_action_item"
                                               name="collection_selection[]" type="checkbox" value="{{ loop.index0 }}">
                                    </td>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ event.title }}</td>
                                    <td>{{ event.competition_name }}</td>
                                    <td>{{ event.published_at }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>

                {{ include('admin/bottombar.twig') }}

            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

{% endblock %}