{% extends 'admin.twig' %}
{% set active = 'events' %}

{% block body %}

    {{ include('admin/topbar.twig') }}

    <div class="container">

        {{ include('zone/messages.twig') }}

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <h1 class="page-header">{{ title }}</h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="{{ urlFor('admin') }}">Página Principal</a>
                    </li>
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="{{ urlFor('admin_events') }}">Eventos</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i> {{ title }}
                    </li>
                </ol>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">

                <ul class="list-group">
                    <li class="list-group-item"><a href="{{ urlFor('import_rojadirecta_sport', {sport: 'sport'}) }}"><img src="/images/deportes/1.png"> Importar eventos  </a></li>
                    {#<li class="list-group-item"><a href="{{ urlFor('import_rojadirecta_sport', {sport: 'baloncesto'}) }}"><img src="/images/deportes/2.png"> Importar eventos de <b>Baloncesto</b></a></li>#}
                    {#<li class="list-group-item"><a href="{{ urlFor('import_rojadirecta_sport', {sport: 'tenis'}) }}"><img src="/images/deportes/3.png"> Importar eventos de <b>Tenis</b></a></li>#}
                    {#<li class="list-group-item"><a href="{{ urlFor('import_rojadirecta_sport', {sport: 'motor'}) }}"><img src="/images/deportes/4.png"> Importar eventos de <b>Motor</b></a></li>#}
                    {#<li class="list-group-item"><a href="{{ urlFor('import_rojadirecta_sport', {sport: 'ciclismo'}) }}"><img src="/images/deportes/5.png"> Importar eventos de <b>Ciclismo</b></a></li>#}
                    {#<li class="list-group-item"><a href="{{ urlFor('import_rojadirecta_sport', {sport: 'golf'}) }}"><img src="/images/deportes/6.png"> Importar eventos de <b>Golf</b></a></li>#}
                    {#<li class="list-group-item"><a href="{{ urlFor('import_rojadirecta_sport', {sport: 'deportes'}) }}"><img src="/images/deportes/7.png"> Importar eventos de <b>Más Deportes</b></a></li>#}
                </ul>

                {{ include('admin/bottombar.twig') }}

            </div>
            <div class="col-lg-3"></div>
        </div>


    </div>
    <!-- /.row -->



    </div>
    <!-- /.container-fluid -->



{% endblock %}