{% extends 'master.twig' %}

{% block body %}

    {% include 'zone/banner.twig' %}

    <div class="indice">
        <a href="/">Inicio</a> » Eventos » ROADIRECTA »<b>{{ event.competition_name }}</b> »  <b>VER EN ELITEGOL {{ event.title }} ONLINE</b>
    </div>

    <h2 class="title-evento">{{ event.competition_name }} : {{ event.title }}</h2>

    {%  if isToday(event.published_at) %}
        <h5 class="date-evento"> {{ event.published_at|get_date_from_utc|localizeddate('none', 'none', 'es_ES', null, "cccc d - HH:mm") }}h - Hoy</h5>
    {% else %}
            <h5 class="date-evento">{{ event.published_at }}h</h5>
    {% endif %}

    <div class="enlaces-online">
        <div class="bar">
            <span class="titulo fizq">Enlaces para ver {{ event.title }} GRATIS:</span>
        <span class="titulo fder"><a href="javascript:history.go(0)"><img
                        src="{{ baseUrl }}images/reload.png"></a></span>
        </div>
    </div>

    <div class="panel panel-default">

        {% if channels is empty %}
            <div class="mensaje">Los enlaces serán mostrados <b>24H </b> antes de su comienzo.</div>
        {% else %}

            <table class="table table-bordered table-eventos table-hover">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th width="5%">
                        <center>Idioma</center>
                    </th>
                    <th width="10%">
                        <center>Software</center>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for channel in channels %}
                    <tr>
                        <td><a href="{{ channel.url }}" target="_blank">{{ channel.title }}</a></td>
                        <td align="center">
                            <img class="img-flag" src="{{ baseUrl }}images/flag/{{ channel.language }}.png">
                        </td>
                        <td align="center">{{ channel.software }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
 
    </div>
<style>
@media (max-width:480px) {
    #M211344ScriptRootC86482 {min-height: 900px;}
}
@media (min-width:480px) {
    #M211344ScriptRootC86482 {min-height: 266.66666666667px;}
}
</style>
<!-- Composite Start -->
<div id="M211344ScriptRootC86482">
        <div id="M211344PreloadC86482">
        Loading...
    </div>
        <script>
                (function(){
            var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
            var i=d[ce]('iframe');i[st][ds]=n;d[gi]("M211344ScriptRootC86482")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
            catch(e){var iw=d;var c=d[gi]("M211344ScriptRootC86482");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=86482;c[ac](dv);
            var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.mgid.com/v/e/verlatelegratis.net.86482.js?t="+D.getYear()+D.getMonth()+D.getDate()+D.getHours();c[ac](s);})();
    </script>
</div>
<!-- Composite End -->
You can watch {{ event.title }} stream here, at www.ELITEGOL.ONLINE we make it possible for you to watch live stream sports {{ event.title }} Broadcasts from all over the world completely free including {{ event.title }}. What time is {{ event.title }} game or event. Dont forgot to share with your friends the {{ event.title }} link. Remember that you can watch {{ event.title }} free in www.ELITEGOL.ONLINE. {{ event.title }} is a event or game. Remember we Are Embedding Live Streams from atdhenet, myp2p, ilemi, ELITEGOL.ONLINE Livescorehunter, Firstrowsports, streamhunter, firstrownow.eu, atdhe, wiziwig and Many More! And you can watch completely free {{ event.title }}. Watch {{ event.title }}. {{ event.title }} Livestream, {{ event.title }} Online, {{ event.title }} Live Stream , ver en vivo {{ event.title }} online , ver gratis {{ event.title }} , ver por internet {{ event.title }}
{% endblock %}
