{% extends 'admin.twig' %}
{% set active = 'sports' %}

{% block body %}

    {{ include('admin/topbar.twig') }}


    <div class="container-fluid">

        {{ include('zone/messages.twig') }}

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ title }}</h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="{{ urlFor('admin') }}">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i> {{ title }}
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <form role="form" method="post">
            <div class="row">

                <div class="col-lg-7">

                    <div class="form-group">
                        <label for="title">Nombre</label>
                        <input type="text" class="form-control" id="sport[name]" name="sport[name]"
                               value="{{ sport.name }}"
                               placeholder="Título" required>
                    </div>

                    <div class="form-group">
                        <label for="name">Slug</label>
                        <input type="text" class="form-control" id="sport[slug]" name="sport[slug]"
                               value="{{ sport.slug }}"
                               placeholder="Slug" required>
                    </div>

                    <button type="submit" class="btn btn-success">Enviar</button>

                </div>
            </div>

        </form>

    </div>
    <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

{% endblock %}