{% extends 'admin.twig' %}
{% set active = 'channels' %}

{% block body %}

    {{ include('admin/topbar.twig') }}

    <div class="container">

        {{ include('zone/messages.twig') }}

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ title }}</h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="{{ urlFor('admin') }}">Página Principal</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i> {{ title }}
                    </li>
                </ol>
                <a href="{{ urlFor('admin_channel') }}" class="btn btn-primary pull-right">Nuevo Canal</a><br/><br/>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">

                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Título</th>
                            <th>Language</th>
                            <th>Quality</th>
                            <th>Software</th>
                            <th>Status</th>
                            <th>URL</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for channel in channels %}
                            <tr>
                                <td>{{ channel.title }}</td>
                                <td>{{ channel.language }}</td>
                                <td>{{ channel.quality }}</td>
                                <td>{{ channel.software }}</td>
                                <td>{{ channel.status }}</td>
                                <td>
                                    <a href="{{ channel.url }}" title="Ver" target="_blank">
                                        <span class="glyphicon glyphicon-share"></span></a>
                                </td>
                                <td>
                                    <a href="{{ urlFor('admin_channel_edit', {"id": channel.id}) }}" title="Editar">
                                        <span class="glyphicon glyphicon glyphicon-pencil"></span></a>

                                    <a href="{{ urlFor('admin_channel_delete', {"id": channel.id}) }}"
                                       title="Eliminar" class="delete" data-confirm="¿Estás seguro de eliminar este canal?">
                                        <span class="glyphicon glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.row -->

        {{ include('admin/bottombar.twig') }}

    </div>
    <!-- /.container-fluid -->



{% endblock %}