<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="propeller" content="776948eca6b2806fe3c97d5d2810326f" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ baseUrl }}images/favicon.ico">
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% for metaname, metavalue in meta %}
        <meta name="{{ metaname }}" value="{{ metavalue }}"/>
    {% endfor %}

    <!-- publish javascript variable -->
    <script>
        var global =
        {{global|json_encode|raw}}
    </script>

    <style>
        body {
            background-image:url("/images/bg.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    </style>

    <!-- Include registered css -->
    {% for cssfile in css.external %}
        <link rel="stylesheet" href="{{ cssfile }}"/>
    {% endfor %}

    {% for cssfile in css.internal %}
        <link rel="stylesheet" href="{{ baseUrl }}css/{{ cssfile }}"/>
    {% endfor %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

{% block nav %}
    {% include 'zone/nav.twig' %}
{% endblock %}

<div class="container">
    {% block body %}{% endblock %}

    {% block footer %}
        <br>
        {% include 'zone/footer.twig' %}
    {% endblock %}
</div>

<!-- Include registered javascript -->
{% for jsfile in js.external %}
    <script src="{{ jsfile }}"></script>
{% endfor %}

{% for jsfile in js.internal %}
    <script src="{{ assetUrl }}js/{{ jsfile }}"></script>
{% endfor %}
</body>
</html>