{% extends 'admin.twig' %}
{% set active = 'events' %}

{% block body %}

    {{ include('admin/topbar.twig') }}


    <div class="container">

        {{ include('zone/messages.twig') }}

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Eventos</h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="{{ urlFor('admin') }}">Página Principal</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i> Eventos
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <form role="form" method="post">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-4">

                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="event[title]" name="event[title]"
                               value="{{ event.title }}"
                               placeholder="Título del Evento" required>
                    </div>

                    <div class="form-group">
                        <label for="name">Slug</label>
                        <input type="text" class="form-control" id="event[slug]" name="event[slug]"
                               value="{{ event.slug }}"
                               placeholder="Slug (Minuscula todo y separado con guiones)" required>
                    </div>

                    <div class="form-group">
                        <label for="event">Competición</label>
                        <select id="competition[competition_id]" name="event[competition_id]" class="select2" style="width: 235px; font-size: 14px;">
                            {% for competition in competitions %}
                                <option value="{{ competition.id }}"{% if competition.id == event.competition_id %} selected {% endif %}>{{ competition.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="description">Descripción</label>
                        <textarea id="event[description]" name="event[description]" class="form-control" rows="3"
                                  placeholder="Description">{{ event.description|raw('html') }}</textarea>
                    </div>

                </div>

                <div class="col-lg-4">

                    <div class="form-group">
                        <label for="name">Fecha de Inicio</label>

                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" id="event[published_at]" name="event[published_at]"
                                   value="{{ event.published_at|get_date_from_utc }}" placeholder="Fecha-Mes-Día Hora-Minuto-Segundo" required/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name">Fecha de Fin</label>

                        <div class='input-group date' id='datetimepicker2'>
                            <input type='text' class="form-control" id="event[finished_at]" name="event[finished_at]"
                                   value="{{ event.finished_at|get_date_from_utc }}" placeholder="Fecha-Mes-Día Hora-Minuto-Segundo" required/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="status">Estado del evento</label>
                        <select id="event[status]" name="event[status]" class="select" style="width: 200px; font-size: 14px;">
                            <option value="1" {% if event.status == 1 %} selected{% endif %}>Activado</option>
                            <option value="0" {% if event.status == 0 %} selected{% endif %}>Desactivado</option>
                        </select>
                    </div>
                </div>    
                <div class="col-lg-2"></div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <center><button type="submit" class="btn btn-success">Enviar</button></center>
                </div>
            </div><!-- /.row -->
        </form>

    {{ include('admin/bottombar.twig') }}

    </div>
    <!-- /.container -->



{% endblock %}