{% extends 'admin.twig' %}
{% set active = 'events' %}

{% block body %}

    {{ include('admin/topbar.twig') }}

    <div class="container-fluid">

        {{ include('zone/messages.twig') }}

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Eventos</h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="{{ urlFor('admin') }}">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i> Eventos
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <a class="btn btn-large btn-success" href="{{ urlFor('task_scheduled') }}">Borrar eventos finalizados</a>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">

                <div class="table-responsive">
                    <table id="simple_table" class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Evento</th>
                            <th>Competición</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in events %}
                            <tr>
                                <td>{{ event.published_at|get_date_from_utc }}</td>
                                <td>{{ event.title }}</td>
                                <td>{{ event.competition_name }}</td>
                                <td>
                                    <a href="{{ urlFor('event', {"id": event.id, "slug": event.slug}) }}" title="Ver">
                                        <span class="glyphicon glyphicon-share"></span></a>

                                    <a href="{{ urlFor('admin_event_edit', {"id": event.id}) }}"
                                       target="_blank" title="Editar">
                                        <span class="glyphicon glyphicon glyphicon-pencil"></span></a>

                                    <a href="{{ urlFor('admin_event_delete', {"id": event.id}) }}"
                                       title="Eliminar" class="delete"
                                       data-confirm="¿Estás seguro de eliminar este evento?">
                                        <span class="glyphicon glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->



{% endblock %}