{% extends 'admin.twig' %}
{% set active = 'channels' %}

{% block body %}

    {{ include('admin/topbar.twig') }}


    <div class="container">

        {{ include('zone/messages.twig') }}

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h1 class="page-header">{{ title }}</h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="{{ urlFor('admin') }}">Página Principal</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i> {{ title }}
                    </li>
                </ol>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <!-- /.row -->

        <form role="form" method="post">
            <div class="row">

                <div class="col-lg-2"></div>
                <div class="col-lg-4">

                    <div class="form-group">
                        <label for="title">Título</label>
                        <input type="text" class="form-control" id="channel[title]" name="channel[title]"
                               value="{{ channel.title }}"
                               placeholder="Título canal" required>
                    </div>

                    <div class="form-group">
                        <label for="url">URL</label>
                        <input type="text" class="form-control" id="channel[url]" name="channel[url]"
                               value="{{ channel.url }}"
                               placeholder="URL visualizar canal" required>
                    </div>

                    <div class="form-group">
                        <label for="url">Quality</label>
                        <input type="text" class="form-control" id="channel[quality]" name="channel[quality]"
                               value="{{ channel.quality }}"
                               placeholder="Quality canal" required>
                    </div>

                </div>

                <div class="col-lg-4">

                    <div class="form-group">
                        <label for="user">Usuario</label>
                        <select id="channel[user_id]" name="channel[user_id]" class="select2" style="font-size: 14px; width: 260px;">
                            {% for user in users %}
                                <option value="{{ user.id }}"{% if key == channel.user_id %} selected {% endif %}>{{ user.email }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="language">Idioma</label>
                        <select id="channel[language]" name="channel[language]" class="select" style="font-size: 14px; width: 260px;">
                            {% for key, language in languages %}
                                <option value="{{ key }}"{% if key == channel.language %} selected {% endif %}>{{ language }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="software">Software</label>
                        <select id="channel[software]" name="channel[software]" class="select" style="font-size: 14px; width: 260px;">
                            {% for software in softwares %}
                                <option value="{{ software }}"{% if software == channel.software %} selected {% endif %}>{{ software|capitalize }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="status">Status</label>
                        <select id="channel[status]" name="channel[status]" class="select" style="font-size: 14px; width: 260px;">
                            <option value="1" {% if channel.status == 1 %} selected{% endif %}>Activado</option>
                            <option value="0" {% if channel.status == 0 %} selected{% endif %}>Desactivado</option>
                        </select>
                    </div>


                </div>
                <div class="col-lg-2"></div>
            </div>

            <div class="row">

                <div class="col-lg-12"><center><button type="submit" class="btn btn-success">Enviar</button></center></div>

            </div>

        </form>


        {{ include('admin/bottombar.twig') }}

    </div>
    <!-- /.container -->



{% endblock %}