<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ baseUrl }}images/favicon.ico">
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% for metaname, metavalue in meta %}
        <meta name="{{ metaname }}" value="{{ metavalue }}"/>
    {% endfor %}

    <!-- publish javascript variable -->
    <script>
        var global =
        {{global|json_encode|raw}}
    </script>

    <!-- Include registered css -->
    <link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css">

    <!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2-bootstrap.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.rawgit.com/smalot/bootstrap-datetimepicker/master/css/bootstrap-datetimepicker.min.css"/>
          -->

    {% for cssfile in css.external %}
        <link rel="stylesheet" href="{{ cssfile }}"/>
    {% endfor %}

    {% for cssfile in css.internal %}
        <link rel="stylesheet" href="{{ baseUrl }}css/{{ cssfile }}"/>
    {% endfor %}

    <!-- Include registered javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!-- Include registered javascript -->
    {% for jsfile in js.external %}
        <script src="{{ jsfile }}"></script>
    {% endfor %}

    {% for jsfile in js.internal %}
        <script src="{{ assetUrl }}js/{{ jsfile }}"></script>
    {% endfor %}
</head>
<body>

      {% block body %}{% endblock %}


</body>
</html>