{% extends 'master.twig' %}

{% block body %}

    {% include 'zone/banner.twig' %}

    <h2 class="title-index">VER LOS EVENTOS DE ELITEGOL</h2>

    {% for event in events %}
        {% include 'partials/event.twig' with {'event': event } only %}
    {% endfor %}

{% endblock %}