<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="Pirlo Tv Online: El partido de la Liga Santander 2017/18 en Directo Online Gratis este es el link para ver tu horario del partido del real madrid atletico del madrid, Barcelona, Inglaterra Premier League etc" name="description"/>
    <meta content="pirlotv, pirlo tv, link para ver, ver futbol online, futbol en vivo, pirlo tv online, ver el partido del madrid, Watch NBA, Watch live, Wach premier league streaming online, Watch online,ver el partido del barca, ver el partido, ver online" 
    <meta content="pirloTV, rojadirecta TV, rojadirecta Online, link para ver futbol online, Manchester United vs Manchester City, Bayern Munich vs Real Madrid en Vivo, Atletico Madrid, Juventus" name="keywords"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ baseUrl }}images/favicon.ico">
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% for metaname, metavalue in meta %}
        <meta name="{{ metaname }}" value="{{ metavalue }}"/>
    {% endfor %}

    <!-- publish javascript variable -->
    <script>
        var global =
        {{global|json_encode|raw}}
    </script>

    <style>
        body {
            background-image:url("/images/bg.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    </style>

    <!-- Include registered css -->
    {% for cssfile in css.external %}
        <link rel="stylesheet" href="{{ cssfile }}"/>
    {% endfor %}

    {% for cssfile in css.internal %}
        <link rel="stylesheet" href="{{ baseUrl }}css/{{ cssfile }}"/>
    {% endfor %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
    
    
</head>
<body>

{% block nav %}
    {% include 'zone/nav.twig' %}
{% endblock %}

<div class="container">
    {% block body %}{% endblock %}

    {% block footer %}
        <br>
        {% include 'zone/footer.twig' %}
    {% endblock %}
</div>

<!-- Include registered javascript -->
{% for jsfile in js.external %}
    <script src="{{ jsfile }}"></script>
{% endfor %}

{% for jsfile in js.internal %}
    <script src="{{ assetUrl }}js/{{ jsfile }}"></script>
{% endfor %}
</body>
</html>