{% extends 'master.twig' %}
{% set active = 'guide' %}

{% block body %}

    <div class="row">

        {% include 'panel/sidebar.twig' %}


        <div class="col-xs-12 col-md-8">

            {{ include('zone/messages.twig') }}

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Canal seleccionado: <b>{{ channel.title }}</b></div>

                <form accept-charset='UTF-8' action='' id='collection_selection' method='post'>

                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Hora</th>
                            <th>Competición</th>
                            <th>Evento</th>
                            <th>
                                <div class="pull-right">Añadir</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in events %}
                            <tr>
                                <th>{{ event.published_at }}</th>
                                <td><b>{{ event.competition_name }}</b></td>
                                <td>{{ event.title }}</td>
                                <td>
                                    <label class="checkbox-event pull-right">
                                        <input type="checkbox" name="collection_selection[]" value="{{ event.id }}">
                                    </label>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>

        </div>

        <div class="col-lg-12">
            <div class="pull-right">
                <a href="#" class="btn btn-default"
                   onclick="document.getElementById('collection_selection').submit()">Añadir Canal</a>
            </div>
        </div>

    </div>
{% endblock %}