<div class="col-xs-6 col-md-4">
    <div class="list-group">
        <a href="{{ urlFor('panel') }}" class="list-group-item {% if active == 'index' %} active {% endif %}">Inicio</a>
        <!--
        <a href="/panel/editar-perfil.php" class="list-group-item {% if active == 'profile' %} active {% endif %}">Editar Perfil</a>
        -->
        <a href="{{ urlFor('panel_guide') }}" class="list-group-item {% if active == 'guide' %} active {% endif %}">Indexar Canal <span
                    class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span></a>
        <a href="{{ urlFor('create_user_event') }}" class="list-group-item ">Mandar Evento <span
                    class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span></a>
        <a class="list-group-item" data-toggle="modal" data-target="#myModal" href="#">Normas de indexado</a>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Normas de indexado en EliteGol.online</h4>
      </div>
      <div class="modal-body">
¿Como añadir tus eventos?<br><br>

Si tienes un canal o varios canales donde se pueden ver eventos deportivos y quieres colocar los enlaces en Élitegol.online, estas son las normas:<br><br>

<b>1.</b> Debe poner el banner de Élitegol.online justo encima del player y enlazándola a Élitegol.online, esta es la imagen:<br><br>

<img src="http://elitegol.online/images/banner.png"><br><br>

Este es el código HTML que debe poner en tu web:<br><br>

<code>&lt;a href="//elitegol.online" target="_blank" &gt;&lt;img src="http://elitegol.online/images/logo.png"&gt;&lt;/a&gt;</code><br><br>

<b>2.</b> El logo no debe tener enlaces a web's de la misma temática que Élitegol.online, ni parte del contenido.<br><br>

<b>3.</b> La publicidad no debe ser excesiva, no debe tapar todo o gran parte del player. Es decir, una persona con pocos conocimientos informáticos debe poder ver el partido sin ningún tipo de problema, y si tiene publicidad encima del player, debe poder cerrarse fácilmente.<br><br>

La publicidad que redirige a otra página automáticamente no está permitida.<br><br>


<b>4.</b> Los players deben poder verse libremente sin tener que realizar un registro, instalar cualquier tipo de plugin/addon/extensión o realizar algún pago.<br><br>

<b>5.</b> Nos reservamos el derecho de eliminar cualquier canal que, aunque cumpla las normas descritas, entendamos que no juega limpio o dificulta el buen funcionamiento de nuestra web.<br><br>

<b>7.</b> Si eres streamer o tienes página que emita cualquier tipo de señal, en ningún caso podrás hacer mención de ella; esto sería considerado como spam y motivo de expulsión.<br><br>

Las normas deben cumplirse SIEMPRE que el enlace esté publicado en la web de Élitegol.online . Podemos pasar a cualquier hora en cualquier momento por cualquier canal para verificar su cumplimiento.<br><br>

Si crees que tu canal cumple estos requisitos manda tu canal a iptvtooles@gmail.com , (o agrégame a skype iptvtooles@gmail.com ) pasaremos a revisarlo y si cumple las normas te daremos los permisos para acceder al panel de colaborador.<br><br>



Recibiras un e-mail cuando tengas permisos de colaborador y podrás acceder al tutorial sobre como añadir eventos en la pagina, que serán revisados y publicados por el editor.<br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>