{% extends 'master.twig' %}
{% set active = 'create_user_event' %}

{% block body %}

    <div class="row">

        {% include 'panel/sidebar.twig' %}

        <div class="col-xs-12 col-md-8">

            {{ include('zone/messages.twig') }}

            <form role="form" method="post">
                <div class="row">

                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">

                        <div class="form-group">
                            <label for="title">Título</label>
                            <input type="text" class="form-control" id="channel[title]" name="channel[title]"
                                   value="{{ channel.title }}"
                                   placeholder="Título canal" readonly>
                        </div>

                        <div class="form-group">
                            <label for="url">URL</label>
                            <input type="text" class="form-control" id="channel[url]" name="channel[url]"
                                   value="{{ channel.url }}"
                                   placeholder="URL visualizar canal" readonly>
                        </div>

                        <div class="form-group">
                            <label for="url">Quality</label>
                            <input type="text" class="form-control" id="channel[quality]" name="channel[quality]"
                                   value="{{ channel.quality }}"
                                   placeholder="Quality canal" required>
                        </div>

                    </div>

                    <div class="col-lg-4">

                        <div class="form-group">
                            <label for="language">Idioma</label>
                            <select id="channel[language]" name="channel[language]" class="select" style="font-size: 14px; width: 260px;">
                                {% for key, language in languages %}
                                    <option value="{{ key }}"{% if key == channel.language %} selected {% endif %}>{{ language }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row">

                    <div class="col-lg-12"><center><button type="submit" class="btn btn-success">Enviar</button></center></div>

                </div>

            </form>

        </div>

    </div>
{% endblock %}