{% extends 'admin.twig' %}
{% set active = 'sports' %}

{% block body %}

    {{ include('admin/topbar.twig') }}

    <div class="container-fluid">

        {{ include('zone/messages.twig') }}

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ title }}</h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="{{ urlFor('admin') }}">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i> {{ title }}
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <form role="form" method="post">
            <div class="row">

                <div class="col-lg-8">

                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="competition[name]" name="competition[name]"
                               value="{{ competition.name }}"
                               placeholder="Título" required>
                    </div>

                    <div class="form-group">
                        <label for="name">Slug</label>
                        <input type="text" class="form-control" id="competition[slug]" name="competition[slug]"
                               value="{{ competition.slug }}"
                               placeholder="Slug" required>
                    </div>

                    <div class="form-group">
                        <label for="event">Deporte</label>
                        <select id="competition[sport_id]" name="competition[sport_id]" class="select2">
                            {% for sport in sports %}
                                <option value="{{ sport.id }}"{% if sport.id == competition.sport_id %} selected {% endif %}>{{ sport.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="name">Cronica Virtual - Alias</label>
                        <input type="text" class="form-control" id="competition[alias]" name="competition[alias]"
                               value="{{ competition.alias }}"
                               placeholder="alias" required>
                    </div>

                    <div class="form-group">
                        <label for="description">Descripción</label>
                        <textarea id="competition[description]" name="competition[description]" class="form-control"
                                  rows="3"
                                  placeholder="Description">{{ competition.description|raw('html') }}</textarea>
                    </div>

                    <div class="form-group">
                        <label for="status">Status</label>
                        <select id="competition[status]" name="competition[status]" class="select2">
                            <option value="1" {% if competition.status == 1 %} selected{% endif %}>Activado</option>
                            <option value="0" {% if competition.status == 0 %} selected{% endif %}>Desactivado</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-success">Enviar</button>
        </form>

    </div>
    <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

{% endblock %}
