{% extends 'admin.twig' %}
{% set active = 'users' %}

{% block body %}

    {{ include('admin/topbar.twig') }}

    <div class="container">

        {{ include('zone/messages.twig') }}

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h1 class="page-header">{{ title }}</h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="{{ urlFor('admin') }}">Página Principal</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i> {{ title }}
                    </li>
                </ol>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">

                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>E-mail</th>
                            <th>Último Acceso</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.last_login }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {{ include('admin/bottombar.twig') }}

            </div>
            <div class="col-lg-2"></div>


        </div>
        <!-- /.row -->



    </div>
    <!-- /.container-fluid -->



{% endblock %}